<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product Listing Page</title>
  <link rel="stylesheet" href="/css/productListingPage.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

  <div class="wrapper">

    <div class="main">
      <section class="filterCategoriesBox">

        <article class="categoryBox">
          <h4>Category</h4>
          <ul>
            <li><a href="">Mobile Accessory</a></li>
            <li><a href="">Electronic</a></li>
            <li><a href="">Smart Phone</a></li>
            <li><a href="">Modern Tech</a></li>
            <li id="see-more"><a href="javascript:void(0)">See All</a></li>
          </ul>
          <ul id="additional-categories" style="display: none;">
            <li><a href="">Laptops</a></li>
            <li><a href="">Wearables</a></li>
            <li><a href="">Smart Home</a></li>
            <li><a href="">Gaming</a></li>
          </ul>
        </article>

        <article class="filterCategoriesList">
          <h4>Brands</h4>
          <label for="">
            <input type="checkbox" name="" id="" class="inputFields"> Samsung
          </label>
          <label for="">
            <input type="checkbox" name="" id="" class="inputFields"> Apple Huawei
          </label>
          <label for="">
            <input type="checkbox" name="" id="" class="inputFields"> Pocco
          </label>
          <label for="">
            <input type="checkbox" name="" id="" class="inputFields"> Lenovo
          </label>

        </article>

        <article class="featureCategoriesList">
          <h4>Features</h4>
          <label for="">
            <input type="checkbox" name="" id=""> Metallic
          </label>
          <label for="">
            <input type="checkbox" name="" id=""> Plastic Cover
          </label>
          <label for="">
            <input type="checkbox" name="" id=""> 8GB RAM
          </label>
          <label for="">
            <input type="checkbox" name="" id=""> Super Power
          </label>
          <label for="">
            <input type="checkbox" name="" id=""> Large Memory
          </label>
        </article>

        <article class="conditionCategoriesList">
          <h4>Conditions</h4>
          <label for="">
            <input type="radio" name="" id="">Any
          </label>
          <label for="">
            <input type="radio" name="" id=""> Refurbished
          </label>
          <label for="">
            <input type="radio" name="" id=""> Brand New
          </label>
          <label for="">
            <input type="radio" name="" id=""> Old Items
          </label>
        </article>

        <article class="starCategoriesList">
          <h4>Ratings</h4>
          <label for="">
            <input type="checkbox" name="" id="">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </label>
          <label for="">
            <input type="checkbox" name="" id="">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </label>
          <label for="">
            <input type="checkbox" name="" id="">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </label>
          <label for="">
            <input type="checkbox" name="" id="">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </label>
          <label for="">
            <input type="checkbox" name="" id="">
            <i class="fas fa-star"></i>
          </label>
        </article>
      </section>

      <!-- <section class="productListingBox">
        <% products.forEach(product => { %> 
          <article class="productListBox">
            <div class="productImage">
              <img src="<%= product.image %>" alt="<%= product.name %>">
            </div>
            <div class="productText">
              <h6><%= product.name %></h6>
      
              <div class="productPricing">
                <span class="product-price"><strong>$<%= product.price %></strong></span>
                <% if (product.discountPrice) { %>
                  <span class="discount-price"><del>$<%= product.discountPrice %></del></span>
                <% } %>
              </div>
      
              <div class="productRating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <small class="productRatingNumber"><%= product.rating %></small> 
                <i class="fa-solid fa-circle"></i>
                <span><%= product.orders %> orders</span>
                <i class="fa-solid fa-circle"></i>
                <span><%= product.freeShipping ? 'Free Shipping' : '' %></span>
              </div>
      
              <div class="productShortDescription">
                <p><%= product.description %></p>
              </div>
      
              <div class="viewDetailsBtn">
                <a href="#">View Details</a>
              </div>
            </div>
          </article>
        <% }); %>
      </section> -->
      

      <section class="productListingBox">
        <% products.forEach(product => { %> 
          <article class="productListBox">
            <div class="productImage">
              <img src="<%= product.image %>" alt="<%= product.name %>">
            </div>
            <div class="productText">
              <h6><%= product.name %></h6>
      
              <div class="productPricing">
                <span class="product-price"><strong>$<%= product.price %></strong></span>
                <% if (product.discountPrice) { %>
                  <span class="discount-price"><del>$<%= product.discountPrice %></del></span>
                <% } %>
              </div>
      
              <div class="productRating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <small class="productRatingNumber"><%= product.rating %></small> 
                <i class="fa-solid fa-circle"></i>
                <span><%= product.orders %> orders</span>
                <i class="fa-solid fa-circle"></i>
                <span><%= product.freeShipping ? 'Free Shipping' : '' %></span>
              </div>
      
              <div class="productShortDescription">
                <p><%= product.description %></p>
              </div>
      
              <!-- Updated View Details Link with Product ID -->
              <div class="viewDetailsBtn">
                <a href="/productDetailPage/<%= product._id %>">View Details</a>
                 <!-- Link to product details page -->
              </div>
            </div>
          </article>
        <% }); %>
      </section>
      
      
      

      <!-- <section class="productListingBox">

        <article class="productListBox">
          <div class="productImage">
            <img src="./images/product1.png" alt="">
          </div>
          <div class="productText">
            <h6>Canon Cmera EOS 2000, Black 10x zoom</h6>

            <div class="productPricing">
              <span class="product-price"><strong>$998.00</strong></span>
              <span class="discount-price"><del>$1128.00</del></span>
            </div>

            <div class="productRating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <small class="productRatingNumber">7.5</small> 
              <i class="fa-solid fa-circle"></i>
              <span>154 orders</span>
              <i class="fa-solid fa-circle"></i>
              <span>Free Shipping</span>
            </div>

            <div class="productShortDescription">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua</p>
            </div>

            <div class="viewDetailsBtn">
              <a href="#">View Details</a>
            </div>
          </div>

        </article>

        <article class="productListBox">
          <div class="productImage">
            <img src="./images/product1.png" alt="">
          </div>
          <div class="productText">
            <h6>Canon Cmera EOS 2000, Black 10x zoom</h6>

            <div class="productPricing">
              <span class="product-price"><strong>$998.00</strong></span>
              <span class="discount-price"><del>$1128.00</del></span>
            </div>

            <div class="productRating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <small class="productRatingNumber">7.5</small> 
              <i class="fa-solid fa-circle"></i>
              <span>154 orders</span>
              <i class="fa-solid fa-circle"></i>
              <span>Free Shipping</span>
            </div>

            <div class="productShortDescription">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua</p>
            </div>

            <div class="viewDetailsBtn">
              <a href="#">View Details</a>
            </div>
          </div>

        </article>

        <article class="productListBox">
          <div class="productImage">
            <img src="./images/product1.png" alt="">
          </div>
          <div class="productText">
            <h6>Canon Cmera EOS 2000, Black 10x zoom</h6>

            <div class="productPricing">
              <span class="product-price"><strong>$998.00</strong></span>
              <span class="discount-price"><del>$1128.00</del></span>
            </div>

            <div class="productRating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <small class="productRatingNumber">7.5</small> 
              <i class="fa-solid fa-circle"></i>
              <span>154 orders</span>
              <i class="fa-solid fa-circle"></i>
              <span>Free Shipping</span>
            </div>

            <div class="productShortDescription">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua</p>
            </div>

            <div class="viewDetailsBtn">
              <a href="#">View Details</a>
            </div>
          </div>

        </article>

        <article class="productListBox">
          <div class="productImage">
            <img src="./images/product1.png" alt="">
          </div>
          <div class="productText">
            <h6>Canon Cmera EOS 2000, Black 10x zoom</h6>

            <div class="productPricing">
              <span class="product-price"><strong>$998.00</strong></span>
              <span class="discount-price"><del>$1128.00</del></span>
            </div>

            <div class="productRating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <small class="productRatingNumber">7.5</small> 
              <i class="fa-solid fa-circle"></i>
              <span>154 orders</span>
              <i class="fa-solid fa-circle"></i>
              <span>Free Shipping</span>
            </div>

            <div class="productShortDescription">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua</p>
            </div>

            <div class="viewDetailsBtn">
              <a href="#">View Details</a>
            </div>
          </div>

        </article>

        <article class="productListBox">
          <div class="productImage">
            <img src="./images/product1.png" alt="">
          </div>
          <div class="productText">
            <h6>Canon Cmera EOS 2000, Black 10x zoom</h6>

            <div class="productPricing">
              <span class="product-price"><strong>$998.00</strong></span>
              <span class="discount-price"><del>$1128.00</del></span>
            </div>

            <div class="productRating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <small class="productRatingNumber">7.5</small> 
              <i class="fa-solid fa-circle"></i>
              <span>154 orders</span>
              <i class="fa-solid fa-circle"></i>
              <span>Free Shipping</span>
            </div>

            <div class="productShortDescription">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua</p>
            </div>

            <div class="viewDetailsBtn">
              <a href="#">View Details</a>
            </div>
          </div>

        </article>

        <article class="productListBox">
          <div class="productImage">
            <img src="./images/product1.png" alt="">
          </div>
          <div class="productText">
            <h6>Canon Cmera EOS 2000, Black 10x zoom</h6>

            <div class="productPricing">
              <span class="product-price"><strong>$998.00</strong></span>
              <span class="discount-price"><del>$1128.00</del></span>
            </div>

            <div class="productRating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <small class="productRatingNumber">7.5</small> 
              <i class="fa-solid fa-circle"></i>
              <span>154 orders</span>
              <i class="fa-solid fa-circle"></i>
              <span>Free Shipping</span>
            </div>

            <div class="productShortDescription">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua</p>
            </div>

            <div class="viewDetailsBtn">
              <a href="#">View Details</a>
            </div>
          </div>

        </article>
      </section>
       -->
    </div>

    <!-- Newsletter box section -->
    <section class="subscribeBox">
      <div class="subscribeBoxTitle">
        <h4>Subscribe on our newsletter</h4>
      </div>
      <div class="subscribeBoxText">
        <p>Get daily news on upcoming offers from many suppliers all over the world</p>
      </div>
      <form action="#" method="post" class="subscribeBoxForm">
        <label for="email"></label>
        <input type="email" name="email" id="email" placeholder="Email" role="form" required>
        <button type="submit">Subscribe</button>
      </form>
    </section>
    <!-- Footer Section -->
    <footer class="footer">

      <article class="footerMainBox">
        <div class="companyImage">
          <img src="./images/logo-colored.png" alt="Company Logo">
        </div>

        <div class="companyText">
          <p>Best information about the company gies here but now lorem ipsum is</p>
        </div>

        <div class="companySocialLinks">
          <ul class="social-links">
            <li class="facebook">
              <a href="https://www.facebook.com/">
                <img src="./images/youtuble logo_icon.svg" alt="facebook_icon">
              </a>
            </li>
            <li class="twitter">
              <a href="https://www.twitter.com/">
                <img src="./images/youtuble logo_icon.svg" alt="twitter_icon">
              </a>
            </li>
            <li class="linkedin">
              <a href="https://www.linkedin.com/" target="_blank">
                <img src="./images/youtuble logo_icon.svg" alt="linkedin_icon">
              </a>
            </li>
            <li class="instagram">
              <a href="https://www.instagram.com/" target="_blank">
                <img src="./images/youtuble logo_icon.svg" alt="instagram_icon">
              </a>
            </li>
            <li class="youtube">
              <a href="https://www.youtube.com/" target="_blank">
                <img src="./images/youtuble logo_icon.svg" alt="youtube_icon">
              </a>
            </li>
          </ul>
        </div>

      </article>

      <article class="footerAboutBox">
        <h6>About</h6>
        <ul>
          <li>
            <a href="">About Us</a>
          </li>
          <li>
            <a href="">Find Stores</a>
          </li>
          <li>
            <a href="">Categories</a>
          </li>
          <li>
            <a href="">Blogs</a>
          </li>
        </ul>
      </article>

      <article class="footerPartnershipBox">
        <h6>Partnership</h6>
        <ul>
          <li>
            <a href="">About Us</a>
          </li>
          <li>
            <a href="">Find Stores</a>
          </li>
          <li>
            <a href="">Categories</a>
          </li>
          <li>
            <a href="">Blogs</a>
          </li>
        </ul>
      </article>

      <article class="footerInfoBox">
        <h6>Information</h6>
        <ul>
          <li>
            <a href="">Help Center</a>
          </li>
          <li>
            <a href="">Money Refund</a>
          </li>
          <li>
            <a href="">Shipping</a>
          </li>
          <li>
            <a href="">Contact Us</a>
          </li>
        </ul>
      </article>

      <article class="footerUsersBox">
        <h6>For Users</h6>
        <ul>
          <li>
            <a href="">Login</a>
          </li>
          <li>
            <a href="">Register</a>
          </li>
          <li>
            <a href="">Settings</a>
          </li>
          <li>
            <a href="">My Orders</a>
          </li>
        </ul>
      </article>

      <article class="footerGetAppBox">
        <h6>Get App</h6>
        <div class="AppleStoreButton">
          <img src="./images/market-button.png" alt="Download on the App Store">
        </div>
        <div class="googleStoreButton">
          <img src="./images/market-button-1.png" alt="Get it on Google Play">
        </div>
      </article>

    </footer>

  </div>
  <script>
    document.getElementById("see-more").addEventListener("click", function () {
      const additionalCategories = document.getElementById("additional-categories");
      if (additionalCategories.style.display === "none") {
        additionalCategories.style.display = "block";
        this.querySelector("a").textContent = "See Less";  // Change text to "See Less"
      } else {
        additionalCategories.style.display = "none";
        this.querySelector("a").textContent = "See More";  // Change text back to "See More"
      }
    });
  </script>

</body>

</html>